html {
  font-family: "Roboto", sans-serif;
}

body {
  margin-left: 150px;
}

.div-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 42%;
}

.paragrafo-top {
  line-height: 2;
  letter-spacing: 1.5;
  
}

nav {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ul-nav li {
  list-style: none;
  display: inline;
  font-size: 10px;
  border: 1px solid transparent;
}

.ul-nav a {
  text-decoration: none;
  color: #035755;
  text-transform: uppercase;
  font-size: 12px;
}

nav ul {
  margin-right: 11em;
  text-align: right;
  letter-spacing: 1px;
}

.cuidados {
  text-align: center;
}

.cuidados-title {
  width: 50%;
}

.cuidados-h2 {
  text-align: center;
}

.cuidados li {
  list-style: none;
}

.direita {
  float: left;
}

.esquerda {
  float: right;
}

.button-tranparent {
  width: 100px;
  height: 30px;
  border: #fa605c solid;
  border-radius: 10px;
  color: #fa605c;
  background: transparent;
  font-weight: bold;
}

.button-red {
  width: 150px;
  height: 50px;
  border: transparent;
  border-radius: 25px;
  margin-top: 20px;
  color: white;
  background: #fb4c47;
}

.button-red:hover {
  background: #d8403b;
}

.button-rosa {
  width: 150px;
  height: 50px;
  border: transparent;
  border-radius: 25px;
  margin-top: 20px;
  color: #fa605c;
  background: #fee6e5;
}

h1 {
  color: #fa605c;
  margin-top: 5em;
}

.div-paragrafo {
  width: 93%;
  line-height: 2;
  letter-spacing: 1.5;
  font-size: 15px;
}

.coronavirus {
  width: 70%;
  text-align: left;
  margin-left: 22em;
}

p {
  /* width: 60%;  */
  text-align: left;
}

h2 {
  color: #035755;
  font-size: 32px;
}

.section-corona {
  width: 100%;
}

.card-1 {
  width: 700px;
  /* z-index: 2; */
  margin-top: 2em;
  position: absolute;
  /* padding: 10px; */
  /* float: left; */
  height: 30em;
  right: 0;
}

.card-2 {
  float: left;
  width: 50%;
}

.card-3 {
  width: 100%;
  padding: 10px;
  display: inline-block;
  height: 30em;
}

.imagem {
  width: 30%;
}

.imagem-1 {
  width: 90%;
  display: flex;
  justify-content: center;
}

.imagem-2 {
  margin-top: 10em;
  width: 25%;
  padding: 10px;
}

footer {
  text-align: center;
}

.ul-footer,
.ul-footer-icon {
  list-style: none;
}

.ul-footer a {
  text-decoration: none;
  color: #035755;
}

.ul-footer li,
.ul-footer-icon li {
  display: inline;
}

.youtube {
  color: tomato;
}
.whatsapp {
  color: #1f9b13;
}

.twitter,
.facebook {
  color: #1da1f2;
}

.twitter,
.facebook,
.youtube,
.whatsapp {
  font-size: 1.5em;
}
